fastapi
uvicorn[standard]
faster-whisper
transformers
torch
sentencepiece
protobuf
websockets
python-multipart
sqlalchemy
psycopg2-binary
alembic
pydantic[email]
google-auth
PyJWT
python-dotenv
requests
